<mat-toolbar color="primary" class="mat-elevation-z6">
  <a routerLink="">My Application</a>
  <span class="fill-remaining-space"></span>
  <a *ngIf="!authenticateService.authenticated" routerLink="/login" mat-button routerLinkActive="active">Log in</a>
  <a *ngIf="authenticateService.authenticated" mat-button (click)="logoff()" routerLinkActive="active">Log off</a>
  <a *ngIf="!authenticateService.authenticated" routerLink="/signup" mat-button routerLinkActive="active">Sign up</a>
</mat-toolbar>
<router-outlet></router-outlet>
